.btn {
  border: 0;
  color: white;
  background-color: #0156a1;
  font-family: "Dosis", sans-serif;
  padding: 12px 40px;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.submit {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn:hover {
  background-color: hsla(208, 99%, 32%, 90%);
  transition: background-color 0.3s ease-in-out;
}
