body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
a:hover {
  opacity: 0.7;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
p,
h5 {
  font-size: 18px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
h1 {
  font-size: 48px !important;
  line-height: 62px !important;
  font-weight: 500;
}
h2 {
  font-size: 38px !important;
  line-height: 52px !important;
  font-weight: 500;
}
h3 {
  font-size: 30px !important;
  line-height: 48px !important;
  font-weight: 600;
}
h4 {
  font-size: 24px !important;
  line-height: 38px !important;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
select,
li,
ul,
input,
label {
  font-family: "Dosis", sans-serif;
  margin-top: 0;
  color: #343a40;
}
button {
  font-family: "Dosis", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
li,
ul,
ol {
  font-size: 18px !important;
}

img {
  max-width: 650px;
  border-radius: 5px;
}
.t-center {
  text-align: center;
}
.tiny {
  font-size: 15px !important;
  font-weight: 300;
}
.my-account .row {
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.my-account .user-infos > div {
  display: flex;
  gap: 50px;
}
.my-account .text-component-container {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
  padding: 40px 60px;
  height: 100%;
}
.my-account .text-component-container p {
  font-size: 24px;
  font-weight: 500;
}
.record .row {
  display: block;
}
.record .files-container {
  padding: 50px 100px;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
  border-radius: 16px;
  width: 100%;
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  background-color: #fff;
}
.record .instructions-text {
  max-width: 600px;
  margin: auto;
  line-height: 30px;
}
.record .files-container h1 {
  font-size: 36px !important;
  line-height: 48px !important;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-bottom: 0;
}
.record .audio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.record .buttons-container .controls-audio {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.record-button:hover,
.stop-button:hover {
  box-shadow: none;
  transition: all 0.2s ease-in;
}
.record-button,
.stop-button {
  background-color: #0156a1;
  box-shadow: hsla(208, 99%, 32%, 30%) 0px 4px 6px,
    hsla(208, 99%, 32%, 30%) 0px 8px 15px,
    hsla(208, 99%, 32%, 30%) 0px 16px 56px;
  padding: 30px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: contain;
}
.record-button::before {
  content: "";
  background-image: url("/images/microphone-icon.svg");
  width: 25px;
  height: 25px;
  position: absolute;
  transform: translate(-50%, -50%);
}
.stop-button::before {
  content: "";
  background-image: url("/images/stop-icon.svg");
  width: 22px;
  height: 22px;
  position: absolute;
  transform: translate(-50%, -50%);
}
.record .buttons-container {
  flex-direction: column;
  align-items: center;
}
.record select.title option {
  font-size: 16px;
}
.record .controls-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  width: 100%;
}
.record .controls-text button {
  background-color: #fff;
  color: #343a40;
  border: 2px solid #0156a1;
  font-weight: 600;
}
.record .controls-text button:active,
.record .controls-text button:hover,
.record select.title:hover {
  border-color: #343a40;
}
.record select.title {
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  text-transform: capitalize;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid #0156a1;
}
.my-account .text-component-container p span {
  font-weight: 700;
  margin-right: 5px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.my-account .text-component-container h2 {
  font-size: 30px;
}
.number {
  font-size: 44px !important;
  line-height: 64px;
  margin-bottom: 10px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.bg-accent-img {
  position: relative;
  background: url("/images/counts-bg.jpg") center center / cover no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}
.record.section {
  position: relative;
  background: url("/images/left-background.png") center center / cover no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}
.section.bg-accent-img::before,
.record.section::before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.7);
}
#new-quote {
  margin: auto;
  margin-top: 20px;
}
.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.quote-text {
  font-size: 2.75rem;
  text-align: center;
}
.long-quote {
  font-size: 2rem;
}
.fa-quote-left {
  font-size: 4rem;
}
.quote-author {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}
.row {
  display: flex;
  flex-direction: row;
  max-width: 1650px;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.row.wc2 > * {
  flex-basis: 50%;
}
.row.wc3 > * {
  flex-basis: 33%;
}
.row.wc4 > * {
  flex-basis: 25%;
}
.col {
  position: relative;
  z-index: 2;
}
.col:not(:last-child) {
  margin-right: 45px;
}

/* button:hover{
  filter: brightness(110%);
} */
/* button:active{
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem rgba(255,255,255,0.65);
} */
.twitter-button:hover {
  color: #38a1f3;
}
.fa-twitter {
  font-size: 1.5rem;
}

/* Loader */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #333; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }
  .quote-text {
    font-size: 2.5rem;
  }
}
.group {
  position: relative;
  margin: 45px 0;
}
.group .form-input {
  background-color: white;
  color: #343a40;
  font-size: 18px;
  padding: 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 2px 15px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  border-radius: 4px;
  margin: 25px 0;
}
.group .form-input:focus {
  outline: none;
}
.group .form-input:focus ~ .form-input-label {
  top: -20px;
  font-size: 11px;
  color: hsl(0, 0%, 100%);
}
.group input[type="password"] {
  letter-spacing: 0.3em;
}
.group .form-input-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 300ms ease all;
}
.group .form-input-label.shrink {
  top: -20px;
  font-size: 12px;
  color: white;
}
.criteria-text-container {
  padding: 60px 0;
  border-bottom: 1px solid #959595;
}
.criteria-text-container li::marker {
  color: ;
}
.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.sign-up-container h2 {
  color: white;
  margin: 10px 0;
}
.sign-up-container > span {
  color: white;
}
.sign-up-container .buttons-container {
  display: flex;
  justify-content: space-between;
}
.row.authentificationContainer {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
}
.bg-accent {
  background-color: hsla(208, 100%, 33%, 40%);
}
.action-listen-container {
  padding: 50px 10px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #dde6ed;
  border-radius: 10px;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 3px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.action-record-container {
  padding: 50px 10px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #eff5f8;
  border-radius: 10px;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 3px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.navigation {
  padding-block: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  position: fixed;
  top: 0;
  z-index: 999;
}
.navigation a {
  color: #000;
}
.navigation .logo-container svg {
  max-width: 50px;
  transform: rotate(1deg) !important;
}
.navigation .logo-container:hover {
  opacity: 1;
  fill: #38a1f3;
}
.navigation .logo-container:hover svg {
  transform: rotate(-20deg);
}
.navigation .logo {
  max-width: 100px;
}
.navigation .nav-links-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navigation .nav-links-container .nav-link {
  padding: 10px 15px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  letter-spacing: 1px;
}
.home-hero-section .row:first-of-type {
  justify-content: flex-start;
  padding: 40px 120px 40px 80px;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
  border-radius: 16px;
  background-color: #fff;
  max-width: 1440px;
  margin-bottom: 80px;
}
.home-hero-section h3 {
  margin-bottom: 0;
}

.section {
  padding: 80px 0;
  position: relative;
  z-index: 2;
}
.empty-section {
  min-height: 89px;
}
.buttons-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.blurb h4,
.blurb p {
  text-align: center;
}
.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #fff;
  color: #fff;
}
.buttons-container {
  margin: 50px 0;
}
.footer .row.wc1 {
  justify-content: flex-start;
}

/*media queries*/
@media (min-width: 1440px) and (max-width: 1649px) {
  .row,
  .home-hero-section .row:first-of-type {
    max-width: 1320px;
  }
  .home-hero-section .row:first-of-type {
    padding-left: 60px;
  }
}
